body#home {
    & .home {
        background: url("/images/main-bg.jpg") center / cover no-repeat;
        min-height: 100vh;

        &__content {
            text-align: center;
            margin-top: 10%;

            & .page-title {
                text-transform: none;
            }

            & p {
                font-size: 1.125rem;
                margin-block: 10px 42px;
            }
        }
    }
}
